[run]
source =
  lammps/python
  /home/builder/workspace/dev/pull_requests/ubuntu/unit_tests/cmake_mpi_openmp_smallbig_shared/python
  /home/builder/workspace/dev/master/ubuntu/unit_tests/cmake_mpi_openmp_smallbig_shared/python

[paths]
source =
  lammps/python
  /home/builder/workspace/dev/pull_requests/ubuntu/unit_tests/cmake_mpi_openmp_smallbig_shared/python
  /home/builder/workspace/dev/master/ubuntu/unit_tests/cmake_mpi_openmp_smallbig_shared/python
